@page "/login"
@using Domain.Constants
@using Microsoft.AspNetCore.Components.Forms

<div class="d-flex justify-center">
	<MudPaper Class="pa-4" Style="max-width: 400px; width: 100%;">
		<MudText Typo=@Typo.h4
				 Align=@Align.Center
				 Class="mb-4">
			Увійти
		</MudText>

		<EditForm Model="@loginModel"
				  OnValidSubmit="@HandleLogin">
			<MudForm Model="@loginModel"
					 @ref="loginForm">
				<DataAnnotationsValidator />
				<MudTextField Label="Логін"
							  @bind-Value="@loginModel.login"
							  For="@(() => loginModel.login)"
							  Variant="@Variant.Outlined"
							  Class="mb-3"
							  FullWidth="true"
							  Required="true" />

				<MudTextField Label="Пароль"
							  @bind-Value="@loginModel.password"
							  For="@(() => loginModel.password)"
							  Variant="@Variant.Outlined"
							  Class="mb-3"
							  FullWidth="true"
							  InputType="@InputType.Password"
							  Required="true" />

				<MudButton FullWidth="true"
						   ButtonType="@ButtonType.Button"
						   Variant="@Variant.Filled"
						   Color="@Color.Primary"
						   Size="@Size.Large"
						   OnClick="@HandleLogin"
						   Disabled="@isSubmitting"
						   Class="mb-3">
					@if (isSubmitting)
					{
						<MudProgressCircular Size="@Size.Small" Indeterminate="true" />
					}
					else
					{
						<text>Увійти</text>
					}
				</MudButton>

				<MudButton FullWidth="true"
						   ButtonType="@ButtonType.Button"
						   Variant="@Variant.Outlined"
						   Color="@Color.Default"
						   Size="@Size.Large"
						   OnClick="@(() => HandleExternalLogin(ExternalLoginConstants.Google))"
						   Class="mb-3"
						   StartIcon="@Icons.Custom.Brands.Google">
					Увійти через Google
				</MudButton>

				<MudButton FullWidth="true"
						   ButtonType="@ButtonType.Button"
						   Variant="@Variant.Outlined"
						   Color="@Color.Default"
						   Size="@Size.Large"
						   OnClick="@(() => HandleExternalLogin(ExternalLoginConstants.Microsoft))"
						   Class="mb-3"
						   StartIcon="@Icons.Custom.Brands.Microsoft">
					Увійти через Microsoft
				</MudButton>
			</MudForm>
		</EditForm>
	</MudPaper>
</div>